.advantage {
    padding-top: 60px;

    @media screen and (max-width: 768px ){
        padding-bottom: 60px;
       
    }
    
    &__item{
        width: 450px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 767px) and (max-width: 1199px){
            
            width: calc((100% - 2 * 30px) / 2);

            &:nth-child(2n + 1){
                margin-right: 30px;
            }
        }
    }

    &__item{
        @media screen and (min-width: 1200px ){
            
            width: calc((100% - 90px) / 4);
      
        }
    }

    &__icon-bg{

        @include centeredFlex(flex, center, center);    

        margin-bottom: 30px;
        height: 120px;
        border-radius: 4px;
        
        background-color: $--team-bg-decoration;
    
    }

    &--icon{
        width: 70px;
        height: 70px;  
    } 

    &__header{
        text-transform: uppercase; 
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
    }

    &__text{
        text-align: left;
        
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

        color: $--secondary-text-color;
    } 

    &__item:not(:last-child){
        margin-bottom: 30px;
    }
}

.advantage-list{

    @media screen and (max-width: 767px ){
        text-align: center;
    }

    @media screen and (min-width: 767px ){
        display: flex;
        flex-wrap: wrap;

        justify-content: space-around;
    }
}

.occupation{
    display: none;

    @media screen and (min-width: 1200px ){
        display: block;
    }

    padding-top: 94px;
    padding-bottom: 94px;

    &-header{
        margin-bottom: 50px;
        display: block;
    }

    &__list{
        display: flex;
    }

    &__item{
        position: relative;
    }

    &__item:not(:last-child)  {
        margin-right: 30px;
    }

    &__text{
        position: absolute;
        
        bottom: 0;
        right: 0;
        text-align: center;
        padding-top: 27px;
        padding-bottom: 27px;
        width: 100%;
    
        background-color: rgba(47, 48, 58, 0.8);
    }

    .occupation__link{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: $--title-text-decoration;
    }
}