.customers{
    padding-top: 60px;
    padding-bottom: 60px;

    min-width: 450px;

    &__link{

        @include centeredFlex(flex, center, center);

        align-items: center;
        border: 1px solid #AFB1B8;
        fill: #AFB1B8;
        border-radius: 4px;  
    }
    
    &__link:hover{
        fill: $--accent-color;
        border-color: $--accent-color;
        transition: $slowMo-bezier;
    }
    
    &-one__size{
        padding: 20px 59px;
    }
    
    &-two__size{
        padding: 19px 62px;
    }
    
    &-three__size{
        padding: 23px 60px;
    }
    
    &-four__size{
        padding: 24px 42px;
    }
    
    &-five__size{
        padding: 21.5px 50px;
    }
    
    &-six__size{
        padding: 22.5px 36px;
    }
    
    &__header{
        padding-bottom: 50px;
    }
    
    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: -15px; 
    }
    
    &__item {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;

        @media screen and (min-width: 768px){
            width: calc((100% - 3 * 30px) / 3);
            margin: 15px;
        }

        @media screen and (min-width: 1200px){

            width: calc((100% - 6 * 43px) / 6);
            margin: 15px;

            &:not(:last-child){
                margin-right: 30px;
            }
        }
    }
}