.header{    
    
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: $--primary-text-decoration;
    background-color: $--title-text-decoration;
}

.page-header{

    display: flex;
    align-items: center;  

    &__nav{
        display: flex;
        align-items: center;   
    }

    &__nav-list{
        display: flex;
        align-items: center; 
    }

    &__logo{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        margin-right: 86px;
    }

    &__web{
        color: $--accent-color;
    }

    &__contacts{
        display: flex;
        align-items: center;
        margin-left: auto;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    &__contacts-item:not(:last-child){
        margin-right: 30px;
    }

    &__contacts-link{
        display: inline-flex;
        align-items: center;
    
        color: $--secondary-text-color;
    }

    &__contacts-link:focus,
    &__contacts-link:hover{
        color:$--accent-color;
        transition: $slowMo-bezier;
    }

    &__icon{
        margin-right: 10px;
        fill: currentColor;
    }
}

.nav__item{
    position: relative;
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:not(:last-child){
        margin-right: 50px;
    }
}

.nav__link{
    display: block;

    padding-top: 32px;
    padding-bottom: 32px;

    &:hover,
    &:focus{
        color: $--accent-color;
        transition: $slowMo-bezier;
    }

    &-current{
        display: block;

        padding-top: 32px;
        padding-bottom: 32px;
        color: $--accent-color;
    }

    &-current::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
    
        width: 100%;
        height: 4px;
        border-radius: 4px;

        background-color: $--accent-color;
    }
}




