.hero {
    /* max-width: 1600px; */
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background: 
    linear-gradient(to right, 
    rgba(47, 48, 58, 0.8), 
    rgba(47, 48, 58, 0.8)),
    url('/img/hero.jpg');
   background-repeat: no-repeat;
   background-position: center;
   /* background-position: contain; */
   background-color: blanchedalmond;
   background-size: cover;     

    &__logo {
        display: block;
        text-align: center;
        
        padding-top: 200px;
        padding-bottom: 200px;
        width: 696px;
    }

    &__title {
        margin-bottom: 30px;

        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
         
        color: $--title-text-decoration;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: $slowMo-bezier;
    z-index: 2;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(0.8);
    
    background-color: $--nav-bg-decoration;
   
    transition: $slowMo-bezier, scale $slowMo-bezier;;

    &__close-container {
    
        position: absolute;
        top:0;
        right: 0;
        transform: translate(-8px, 8px);
    
        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;
        border-radius: 50% 50%;
    
        cursor: pointer;
        fill: black;
        background-color: $--nav-bg-decoration;
        border: 1px solid rgba(0, 0, 0, 0.1);
        // box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
        // 0px 1px 1px rgba(0, 0, 0, 0.14), 
        // 0px 1px 3px rgba(0, 0, 0, 0.12);
        
        &:hover{
            fill: $--accent-color;
        }
    }

    &__icon-close {
        display: inline-block;
        width: 11px;
        height: 11px;
    }

    &__header {
        text-align: center;
        margin-bottom: 30px;
        
        font-size: 20px;
        line-height: 1.15;
    }

    &__forms:last-child{
        margin-bottom: 0px;
    }

    &__comment{
        margin-bottom: 20px;
    }

    &__agreement{
        display: flex;
        justify-content: center;

        margin-bottom: 30px;
        color: $--secondary-text-color;
    }

    &__contract-info{
        text-decoration: underline;
        color: $--accent-color;
    }
}

.form {
    // width: 528px;
    // height: 581px;
    padding: 40px;

    &__field {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 28px;
    
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
    }

    &__label{
        position: absolute;
        
        top: 50%;
        left: 42px;
        margin: 0;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: $--secondary-text-color;

        transform: translateY(-50%) scale(1);
        transition: transform $slowMo-bezier,
        scale $slowMo-bezier;
    }

    &__label--comment{
        position: absolute;
        top: 12px;
        left: 16px;
        transform: scale(1);
        transition: transform $slowMo-bezier;
    }

    &__icon{
        position: absolute;
        top: 50%;
        left: 18px;
        fill: currentColor;
        transform: translateY(-50%);
        transition: fill $slowMo-bezier;   
    }

    &__agreement{
        display: flex;
        
        align-items: center;
        margin-bottom: 30px;
        margin-left: 12px;
    }

    &__agreement-text{
        margin-left: 8px;
        font-size: 14px;
        line-height: 1.7;
        color: $--secondary-text-color;
    }

    &__checkbox{
        width: 15px;
        height: 15px;
        display: inline-block;
        
        border: 2px solid #2a2a2a;
        border-radius: 4px;  
    }
}

.form__input {
    // width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    
    border-radius: 4px;

    &:focus-within ~ .form__icon{
        fill: $--accent-color;
    }

    &:focus + .form__label,
    &:not(:placeholder-shown) + .form__label{
        transform: translateY(-40px) translateX(-25px);
        color: $--accent-color;    
    }
}

.comment{
    // width: 100%;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    &:focus + .form__label,
    &:not(:placeholder-shown) + .form__label{
        transform: translateY(-30px);
        color: $--accent-color;
    }
}

.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked + .form__checkbox{
        background-color: $--accent-color;
        background-image: url('/img/icon-check.svg');
        border-color: $--accent-color;
        background-size: contain;
        background-origin: border-box;
        
    }
}

.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
    border-bottom: 1px solid #ECECEC;

    &__item{
        width: calc((100% - 90px) / 4);
    }

    &__icon-bg{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 30px;
        height: 120px;
        border-radius: 4px;
        
        background-color: $--team-bg-decoration;
    }

    .advantage--icon{
        width: 70px;
        height: 70px;
    }

    &__item:not(:last-child){
        margin-right: 30px;
    }

    &__header{
    
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;  
    }

    &__text{
        display: block;
        
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;

        color: $--secondary-text-color;
    }
}

.advantage-list{
    display: flex;
}

.occupation{
    padding-top: 94px;
    padding-bottom: 94px;

    &-header{
        margin-bottom: 50px;
        display: block;
    }

    &__list{
        display: flex;
    }

    &__item{
        position: relative;
    }

    &__item:not(:last-child)  {
        margin-right: 30px;
    }

    &__text{
        position: absolute;
        
        bottom: 0;
        right: 0;
        text-align: center;
        padding-top: 27px;
        padding-bottom: 27px;
        width: 100%;
    
        background-color: rgba(47, 48, 58, 0.8);
    }

    .occupation__link{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
        color: $--title-text-decoration;
    }
}

.team{
    padding-top: 94px;
    padding-bottom: 94px;

    &__list{
        display: flex;
    }
    
    &__header{
        margin-bottom: 50px;
    }

    &__header,
    &{
        background-color: $--team-bg-decoration;
    }

    &__item{
        padding-bottom: 24px;
        width: calc((100%-90px) / 4);
    
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 1px 3px rgba(0, 0, 0, 0.12);
        overflow: hidden;
    }

    &__item:not(:last-child){
        margin-right: 30px;
    }
    
    &__name{
        margin-bottom: 10px;
        margin-top: 30px;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $--primary-text-decoration;
    }
    
    &__text{
        margin-bottom: 16px;    
    
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $--secondary-text-color;
    }

    &__social-list{
        display: flex;
        padding: 0px 32px;
    }

    &__social-icon:not(:last-child){
        margin-right: 10px;
    }
    
    &__social-link{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    
        width: 44px;
        height: 44px;
        color: #AFB1B8;
    }
    
    &__social-link:hover
    {
        color: $--title-text-decoration;
        background-color: $--accent-color;
        transition: $slowMo-bezier;
    }
    
    &__icon{
        fill: currentColor;
    }
}

.customers{
    padding-top: 94px;
    padding-bottom: 94px;

    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #AFB1B8;
        fill: #AFB1B8;
        border-radius: 4px;  
    }
    
    
    &__link:hover{
        fill: $--accent-color;
        border-color: $--accent-color;
        transition: $slowMo-bezier;
    }
    
    &-one__size{
        padding: 20px 59px;
    }
    
    &-two__size{
        padding: 19px 62px;
    }
    
    &-three__size{
        padding: 23px 60px;
    }
    
    &-four__size{
        padding: 24px 42px;
    }
    
    &-five__size{
        padding: 21.5px 50px;
    }
    
    &-six__size{
        padding: 22.5px 36px;
    }
    
    &__header{
        padding-bottom: 50px;
    }
    
    &__list{
        display: flex;
    }
    
    &__item {
        width: calc((100%-180px) / 6);
    }
    
    &__item:not(:last-child){
        margin-right: 30px;
    }
}